
<main class="main">
  <div class="content">
    <div class="side-stepper-container">
      <div class="stepper-container">
        <div class="stepper-count-container" routerLink="/personalinfo" routerLinkActive="active">
          <span class="stepper-count">1</span>
        </div>
        <div class="stepper-name-container">
          <p class="stepper-count-name">Step 1</p>
          <p class="stepper-name">YOUR INFO</p>
        </div>
      </div>
      <div class="stepper-container">
        <div class="stepper-count-container" routerLink="/plan" routerLinkActive="active">
          <span class="stepper-count">2</span>
        </div>
        <div class="stepper-name-container">
          <p class="stepper-count-name">Step 2</p>
          <p class="stepper-name">SELECT PLAN</p>
        </div>
      </div>
      <div class="stepper-container">
        <div class="stepper-count-container" routerLink="/addons" routerLinkActive="active">
          <span class="stepper-count">3</span>
        </div>
        <div class="stepper-name-container">
          <p class="stepper-count-name">Step 3</p>
          <p class="stepper-name">ADD-ONS</p>
        </div>
      </div>
      <div class="stepper-container">
        <div class="stepper-count-container" routerLink="/summary" routerLinkActive="active">
          <span class="stepper-count">4</span>
        </div>
        <div class="stepper-name-container">
          <p class="stepper-count-name">Step 4</p>
          <p class="stepper-name">SUMMARY</p>
        </div>
      </div>
    </div>
    <div class="stepper-content">
      <router-outlet />
    </div>
  </div>
</main>


