/* Hide default checkbox */
.custom-checkbox input {
  display: none;
}

/* Custom checkbox container */
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 50px;
    margin-left: 20px;
}

/* Checkmark (visual representation of the checkbox) */
.custom-checkbox .checkmark {
  width: 22px;
  height: 22px;
  background-color: var(--White);
  border: 1px solid var(--Cool-gray);
  border-radius: 4px;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Checkmark when checkbox is checked */
.custom-checkbox input:checked + .checkmark {
  background-color: var(--Purplish-blue);
  border-color: var(--Purplish-blue);
}

/* Add a tick mark image when checked */
.custom-checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px; /* Adjust size as needed */
  height: 12px; /* Adjust size as needed */
  background-image: url("/images/icon-checkmark.svg"); /* Replace with your tick mark image path */
  background-size: cover;
  background-repeat: no-repeat;
}

.add-on-card {
  border: 1px solid var(--Cool-gray);
  margin: 20px 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.add-on-card:has(input:checked), .add-on-card:hover {
  border: 1px solid var(--Purplish-blue);
  background-color: var(--Alabaster);
}

.add-on-details{
    flex: 1;
    margin: 10px 0px;
}

.add-on-details p{
  margin: 10px 0px;
  font-size: 16px;  
}

.add-on-name{
  color: var(--Marine-blue);
  font-weight: 700;
}

.add-on-info{
  color: var(--Cool-gray);
  font-weight: 500;
}

.add-on-amount{
  color: var(--Purplish-blue);
  font-size: 16px;
  font-weight: 500;
  margin: 10px 20px;
}