.form-control{
    margin: 20px 0px;
}

.form-control input{
    width: 94%;
    height: 38px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 15px;
    padding: 0px 10px;
    border: 1px solid var(--Light-gray);
    color: var(--Light-gray);
    outline: none;
    cursor: pointer;
}

.form-control input:active, .form-control input:focus{
    border: 1px solid var(--Purplish-blue);
    color: var(--Marine-blue);
}

.form-control label{
    color: var(--Marine-blue);
    font-size: 15px;
}

